<div class="animate__animated animate__fadeIn">
    <h2>Por país</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input 
                (onEnter)="Buscar($event)"
                (onDebounce)="sugerencias($event)"
                placeholder="Buscar país..." >
            </app-pais-input>
        </div>
    </div>


    <ul *ngIf="mostrarSugerencia" class="list-group">
        <li 
            *ngFor="let item of paisesSugeridos" 
            class="list-group-item list-group-item-action">
            <a class="nav-link" 
                [routerLink]="['/pais', item.alpha2Code]">
                {{item.name}}
            </a>
        </li>
        <li class="list-group-item list-group-item-action"
            (click)="buscarSugerido(termino)">
           <a class="nav-link">
                Buscar "{{termino}}"
           </a>
        </li>
    </ul>

    <hr>

</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="_paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises] = "_paises" ></app-pais-tabla>
    </div>
</div>