<div class="animate__animated animate__fadeIn">

    <h2>Por capital</h2>
    <hr>

    <div>
        <div class="col">
            <app-pais-input 
                (onEnter)="Buscar($event)"
                placeholder="Buscar capital..." >
            </app-pais-input>
        </div>
    </div>

</div>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{ termino }}
</div>

<div *ngIf="_paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises] = "_paises"></app-pais-tabla>
    </div>
</div>