<h2>Búsquedas</h2>
<hr>
<ul>
    <li 
        class="list-group-item" 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Buscar país
    </li>

    <li 
        class="list-group-item" 
        routerLink="region"
        routerLinkActive="active">
        Por región
    </li>

    <li 
        class="list-group-item" 
        routerLink="capital"
        routerLinkActive="active">
        Por capital
    </li>

</ul>