<table *ngIf="paises.length > 0" class="table table-hover animate__animated animate__fadeInUpBig">
    <thead>
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Población </th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngFor="let item of paises; let i=index">
        <tr>
            <td> {{ i + 1 }} </td>
            <td> 
                <img [src]="item.flag" width="50px" alt="Bandera"> 
            </td>
            <td> {{ item.capital }}, {{ item.name | titlecase }} </td>
            <td> {{ item.population | number }} </td>
            <td>
                <a [routerLink]="[ '/pais', item.alpha2Code]">Ver...</a>
            </td>
        </tr>
    </tbody>
</table>