<div class="animate__animated animate__fadeIn">

    <h3 class="animate__animated animate__fadeIn">Buscar por región: <small> {{ regionActiva | titlecase}}</small> <small *ngIf="paises.length > 0"> ({{ paises.length }} paises) </small></h3>
    <hr>

    <h5>Seleccione la región:</h5>

    <div class="row">
        <div class="col">

            <!-- [class.btn-primary]="item === regionActiva" -->

            <!-- [ngClass]="{
                'btn-primary': item === regionActiva,
                'btn-outline-primary': item !== regionActiva
            }" -->
            <button *ngFor="let item of regiones"
                    [class]="getClass(item)"
                    (click)="activarRegion(item)">
                {{ item | titlecase }}
            </button>
        </div>
    </div>

</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises] = "paises"></app-pais-tabla>
    </div>
</div>